{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('assets/css/style.css') }}" type="text/css" rel="stylesheet" >
{% endblock %}

{% block title %}
    {% if edit is defined%}
        Editar tarea
    {% else %}
        Crear tarea
    {% endif %}
{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h2>
            {% if edit is defined %}
                Editar tarea
            {% else %}
                Crear tarea
            {% endif %}
        </h2>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
